{% extends "base/base.html" %}
{% load static%}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                {% for gal in gallery%}   
                    {% if forloop.counter0 == current %}    
                        <img src="{{ gal.photo.url}}" class="card-img-top"  width=100 height=100 alt="{{gal.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{gal.title}}</h5>
                                    <!-- навигация  предыдущего-->
                                                      
                                {% if has_prev %}
                                    <a href="?photo={{ current|add:-1 }}" class="btn btn-secondary">&#8672;</a> 
                                {% endif %}
                                 <!-- навигация следующего -->
                                {% if has_next %}
                                    <a href="?photo={{ current|add:1 }}" class="btn btn-secondary">	&#10143;</a>
                                {% endif %}
                            
                        </div>
                    {% endif %}
                {% endfor %}           
            </div>
        </div>     
    </div>
</div>

{% endblock content %}
