{% extends "basic/base.html" %}

{% block title %} <title>Личный кабинет</title> {% endblock title %}

{% block content %}
<h5>Личный кабинет</h5>
{% for profile in profiles %}
 <div class="p-4 lg:w-1/2 md:w-full">
    <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">

        <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> Имя: </h2> 
            <p class="leading-relaxed text-base">{{profile.first_name}}</p> 
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> Фамилия: </h2> 
            <p class="leading-relaxed text-base">{{profile.last_name}}</p> 
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> Почта: </h2> 
            <p class="leading-relaxed text-base">{{ profile.email }}</p> 
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Имя пользователя: </h2> 
            <p class="leading-relaxed text-base">{{ profile.username }}</p> 
            <a class="btn btn-primary" href="{% url 'registration:update-dashboard' profile.pk %}"
            class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Update
            Profile</a>
 
        </div>
   </div> 
</div>  
{% endfor %}

{% endblock content %}