{% extends "basic/base.html" %}
{% load crispy_forms_tags %}
{% block title %} <title>Login</title> {% endblock title %}

{% block content %}
{% if user.is_authenticated%}
<a href="{% url 'main:home'%}"></a>
{% else %}

<form action="" method='post'>
    
    {% csrf_token %}
    
    <div class="container-lg" >
        <h1>Login</h1>
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'registration:password-reset' %}">Забыли пароль?</a>
        <br>
        <p>У вас нет аккаунта? <a href="{% url 'registration:register' %}">Зарегестрируйтесь!</a> </p>
     </div>
    
     

    
</form>
{% endif %}
{% endblock content %}
