{% extends "basic/base_store.html" %}
{% block title %} <title>Шорты</title>  {% endblock title %} 

{% block content %}

<div class="container">
    <div class="row">
    {% for short in shorts%}
        <div class="col-md-4">
            <div class="card mb-4">  
            <img class="card-img-top"  src="{{short.image.url}}" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;"> 
                <div class="card-body">     
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{ short.name }} </h2> 
                    <p class="leading-relaxed text-base">{{ short.description}}</p>                 
                </div>
            </div>
        </div>
       
      {% endfor %}
    </div> 
</div> 
{% endblock content %}