{% extends "basic/base_store.html" %}
{% block title %} <title>Магазин</title>  {% endblock title %} 
{% block content %}
{% comment %} <div class="container px-5 py-24 mx-auto flex flex-wrap">
    {% for item in items %}
     <div class="p-4 lg:w-1/2 md:w-full">   
        <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">            
            <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> Название продукта: {{ item.name }} </h2> 
                <p class="leading-relaxed text-base">Описание: {{ item.description}}</p> 
                <img src="{{item.image.url}}" class="rounded-t-xl">

            </div>
        </div>
    </div> 
    {% endfor %}
</div> {% endcomment %}
{% for item in items %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22368%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20368%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18bddb91442%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A18pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18bddb91442%22%3E%3Crect%20width%3D%22368%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22123.3359375%22%20y%3D%22120.6%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
{% comment %} <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top"src="{{item.image.url}}" >
            <div class="card-body">
              <p class="card-text">{{ item.description}}.</p>
            </div>
          </div>
        </div>    
      </div>
    </div>
</div> {% endcomment %}
{% endfor %}
{% endblock content %}
