{% extends "basic/base_store.html" %}
{% block title %} <title>Магазин</title>  {% endblock title %} 
{% block content %}

 <div class="album py-5 bg-light"><h1>Недавние товары</h1>
 <div class="container">
  <div class="row">
    {% for item in items %}
    <div class="col-md-4">
     <div class="card mb-4 box-shadow">  
      <img class="card-img-top"  src="{{item.image.url}}" data-holder-rendered="true" style="height: 300px; width: 100%; display: block;"> 
        
            <div class="card-body">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{ item.name }} </h2> 
                <p class="leading-relaxed text-base">{{ item.description}}</p> 
                

            </div>
        {% comment %} </div> {% endcomment %}
     </div>
    </div> 
    {% endfor %}
  </div>
 </div> 
</div> 

{% endblock content %}
