{% extends "basic/base.html" %}


{% block title %} <title>Home Page</title>  {% endblock title %} 

{% block content %}

<div class="container px-5 py-24 mx-auto flex flex-wrap bg-body-secondary">
    <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200 ">
            <h1 class="text-4xl text-gray-800">Добро Пожаловать на сайт Футбольного клуба multizloy</h1>
            <h3>История нашего клуба.</h3>
            <p>

                Однажды в небольшом городке на юге Англии, где футбол был неотъемлемой частью жизни, родился клуб, который стал символом мужества, упорства и братства. Это история футбольного клуба “Красные львы”.
                
                В начале 1960-х годов в городе было несколько команд, но ни одна из них не была достаточно сильной, чтобы выиграть местные турниры. И тогда группа молодых ребят, вдохновленных успехом своей любимой команды “Манчестер Юнайтед”, решила основать свой собственный футбольный клуб.
                
                Они назвали его “Красные львы” в честь своего родного города и его символа - красного льва на гербе. Они начали тренироваться на местном стадионе и вскоре стали известны своим энтузиазмом и страстью к игре.
                
                Первым тренером клуба стал местный житель, опытный футболист и просто человек с большим сердцем - Билл Джонсон. Он был строгим, но справедливым наставником, и его методы тренировки помогли “Красным львам” стать одной из сильнейших команд в округе.
                
                Постепенно слава о “Красных львах” распространилась по всей стране, и они начали принимать участие в турнирах более высокого уровня.</p>    
    </div>
    
</div>
{% endblock content %}