{% extends "basic/base.html" %}


{% block title %} <title>Home Page</title>  {% endblock title %} 

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'main:add-post'%}"> Добавить пост</a>
{% endif %}
 <div class="flex flex-wrap -m-4"> 
     
    {% for post in post %}
   
     <div class="p-4 lg:w-1/2 md:w-full">
        <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">

            <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> {{ post }} </h2> 
                <p class="leading-relaxed text-base">{{ post.text}}</p> 
                 {% comment %} <a href="{% url 'leads:lead-detail' lead.pk %}"
                    class="mt-3 text-indigo-500 inline-flex items-center">View this lead</a>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>  {% endcomment %}
                 </svg> 
                 </a>
            </div>
        </div>
    </div> 
{% endfor %}
{% endblock content %}