{% extends "basic/base.html" %}


{% block title %} <title>Новости</title>  {% endblock title %} 

{% block content %}


<div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
        <div>
            <h1 class="text-4xl text-gray-800">Новости</h1>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a class="text-gray-500 hover:text-blue-500" href="{% url 'main:add-post'%}"> Добавить пост</a>
        </div>
        {% endif %}
    </div>
</div>
 <div class="flex flex-wrap -m-4">    
    {% for post in posts %}
     <div class="p-4 lg:w-1/2 md:w-full bg-body-secondary">
        <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
            <div class="flex-grow" id="post-list">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3"> Название статьи: {{ post }} </h2>              
                <p> Статья опубликована : {{post.time_created}} </p>
                <p> Статья написана: {{post.author.username}}</p>
                <h3 class="leading-relaxed text-base">Текст статьи: {{ post.text}}</h3>
                <a class="btn btn-info" href="{{ post.slug }}"
                class="mt-3 text-indigo-500 inline-flex items-center"> Посмотреть </a>
                {% comment %} <span class="badge bg-danger badge-pill"
                 style="cursor:pointer"
                  hx-delete={% url 'main:delete-post' post.slug %}
                  hx-target="#post-list"
                  {% comment %} hx-confirm="Are you sure you want to delete?"> X</span>  {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
                <hr>
            </div>
        </div>
    </div> 
    {% endfor %}

</div>

    <hr>
{% block navigation %}
<nav class ="list-pages">
    <ul class="flex-column text-center">
        {% for p in paginator.page_range %}
                <a href="?page={{ p }}">{{p}}</a>
        {% endfor %}
    </ul>
</nav>
{% endblock navigation %} 

{% endblock content %}


