{% extends "partials/base.html" %}
{% block title %} <title>Твой профиль</title> {% endblock title %}

{% block content %}
    {% if profile %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>{{ profile.user.username}}`s Profile</h1>
                <h3>{{ profile.user.last_name}}</h3>
                {% if twats %}
                    {% for twat in twats%}
                        <div class="alert alert-dark" role="alert">
                        {{ twat.content}}
                        <br>
                        {{ twat.date_posted}}                     
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-4">
                <h3>Profile picture</h3>
                {% if profile.profile_image%}

                <img src="{{ profile.profile_image.url }}" alt="" class="rounded-circle" width="200" height="100">
                
                {% endif %}
                <div class="card">
                    <h5 class="card-header"><strong>Follows</strong></h5>
                    {% for following in profile.follows.all %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'twat:profile' following.user.pk %}"> @{{ following }} </a></h5>               
                    </div>
                    {% endfor %}
                </div> 
                <div class="card">
                    <h5 class="card-header"><strong>Followers</strong></h5>
                    {% for follower in profile.followers.all %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'twat:profile' follower.user.pk %}"> @{{ follower }} </a> </a></h5>               
                    </div>
                    {% endfor %}
                </div>
                {% comment %} {% if messages %}
                    {% for message in messages %} {% endcomment %}
                        <form method="POST" >
                            {% csrf_token %}
                            {% if profile in user.profile.follows.all %}
                                <button type="submit" class="btn btn-danger" name="follow-btn" value="unfollow">Unfollow @ {{ profile.user.username | lower}}</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary" name="follow-btn" value="follow">Follow @{{ profile.user.username | lower}}</button>
                            {% endif%}
                            </form>
                            <br>
                            {% comment %} Check for correct user {% endcomment %}
                        {% if request.user.id == profile.user.id %}
                        <a href="{% url 'twat:profile_edit' %}" class="btn btn-secondary">Update profile</a>
                        {% endif %}
                        {% comment %} {% endfor %}
                {% endif %} {% endcomment %}
            </div>

        </div>
    </div> 
    {% endif %}


{% endblock content %}