{% extends "partials/base.html" %}
{% load static %}
{% block title %} <title>Главная страница</title> {% endblock title %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>TWATS shared!</h1>
            {% comment %} делаем форму для показа всех тватов и их вид {% endcomment %}
            
            <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            {% if twat.user.profile.profile_image%}
                                <img src="{{twat.user.profile.profile_image.url}}" width=50 height=50 class="rounded-circle" alt="{{profile.user.username}}">
                            {% else %}
                                <img src="{% static 'images/profile-image/profile.webp' %}" class="img-fluid rounded-start" alt="Profile image">
                            {% endif %}
                        
                        </div>
                        <div class="col-9">
                            {{ twat.content }}
                            <br>
                            <small class="text-muted">{{ twat.date_posted}} by @{{ twat.user.username }}</small>
                            <br>
                            {% if user in twat.likes.all %}
                            {% comment %} unlike {% endcomment %}
                            {{ twat.number_of_likes}} <a href="{% url 'twat:twat_like' twat.pk %}">&#128148;</i> </a>
                            {% else %}
                            {% comment %} like {% endcomment %}
                            {{ twat.number_of_likes}} <a href="{% url 'twat:twat_like' twat.pk %}">&#128150;  </i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>               
            </div>                        
        </div>
    </div>
</div>



    
{% endblock content %}