
<div class="d-flex " id="wrapper">
    <div class="border-end bg-white"  id="sidebar-wrapper">        
        <div class ="list-group text-center height=100%" >
            <a href="{% url 'store:item-list'%}">Категории</a>

            <a class=" nav-link list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category-tshirts'%}">Футболки</a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category-skarfs'%}">Шарфы</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category-boots'%}">Бутцы</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category-shorts'%}">Шорты</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category-balls'%}">Мячи</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category-hats'%}">Шапки</a>
        </div>
    </div> 
