
<div class="d-flex " id="wrapper">
    <div class="border-end bg-white"  id="sidebar-wrapper">        
        <div class ="list-group text-center height=100%" >
            <a href="{% url 'store:item-list'%}">Категории</a>
            
            {% for category in categories %}
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'store:category' category.slug %}">{{category.name}}</a>

            
            {% endfor %} 
        </div>
    </div>
