<nav class="navbar navbar-expand-lg bg-btn-outline-light">
  <div class="container-fluid">
    {% comment %} <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:home'%}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:item-list'%}">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:list-post'%}">Новости</a>
        </li>

        <li class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <a class="nav-link dropdown-toggle" href="#">Состав</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Вратари</a></li>
            <li class="nav-item dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <ul>
                <li><a class="dropdown-item" href="#">Вратарь 1</a></li>
                <li><a class="dropdown-item" href="#">Вратарь 2</a></li>
                <li><a class="dropdown-item" href="#">Вратарь 3</a></li>
              </ul>
            <li><a class="dropdown-item" href="#">Защитники</a></li>
            <ul>
              <li><a class="dropdown-item" href="#">Защитники 1</a></li>
              <li><a class="dropdown-item" href="#">Защитники 2</a></li>
              <li><a class="dropdown-item" href="#">Защитники 3</a></li>
              <li><a class="dropdown-item" href="#">Защитники 4</a></li>
              <li><a class="dropdown-item" href="#">Защитники 5</a></li>
              <li><a class="dropdown-item" href="#">Защитники 6</a></li>
            </ul>
            <li><a class="dropdown-item" href="#">Полузащитники</a></li>
            <ul>
              <li><a class="dropdown-item" href="#">Полузащитники 1</a></li>
              <li><a class="dropdown-item" href="#">Полузащитники 2</a></li>
              <li><a class="dropdown-item" href="#">Полузащитники 3</a></li>
              <li><a class="dropdown-item" href="#">Полузащитники 4</a></li>
              <li><a class="dropdown-item" href="#">Полузащитники 5</a></li>
              <li><a class="dropdown-item" href="#">Полузащитники 6</a></li>
            </ul>
            <li><a class="dropdown-item" href="#">Атакующие</a></li>
            <ul>
              <li><a class="dropdown-item" href="#">Атакующие 1</a></li>
              <li><a class="dropdown-item" href="#">Атакующие 2</a></li>
              <li><a class="dropdown-item" href="#">Атакующие 3</a></li>
  
            </ul>
          </ul> 

      </ul>

      <div class="d-flex justify-content-end">
        <ul class="navbar-nav me-auto">
        {% if user.is_authenticated %}
         <span class="navbar-text"> Hello, {{ user.username }}  </span>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Меню
          </a>

          <ul class="dropdown-menu">
           
            
            <li><a class="dropdown-item" href="{% url 'registration:dashboard'    %}">Личный Кабинет</a></li>
            <li><a class="dropdown-item" href="{% url 'cart:cart-list' %}">Корзина<span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}

            </span></a>

            </span></li> 
            <hr>
            {% if user.is_footballer or user.is_admin or user.is_trainer %}
            <li><a class="dropdown-item" href="#">Футболистам</a></li>
            {% endif %}
            {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
            {% if user.is_trainer or user.is_admin %}
            <li><a class="dropdown-item" href="#">Тренерам</a></li>
            {% endif %}
          
          </ul>
        </li>
        <a class="nav-link" href="{% url 'registration:logout'%}">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'registration:register'%}">Register</a>
        <a class="nav-link" "mt-4" href="{% url 'registration:login'%}">Login</a>
        {% endif%}
        </ul>
      </div>
    </div>
  </div>

</nav> 
      
